@tailwind base;
@tailwind components;

/* =================== Font Import ======================== */

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("./assets/font/Montserrat/static/Montserrat-Regular.ttf")
            format("ttf");
}

@font-face {
    font-family: "Montserrat Alternates";
    src: local("Montserrat Alternates"),
        url("./assets/font/Montserrat-Alternates/MontserratAlternates-Regular.ttf")
            format("ttf");
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
        url("./assets/font/Roboto/Roboto-Regular.ttf") format("ttf");
}

/* =================== Basic Styles ======================== */

*,
*::before,
*::after {
    -webkit-user-drag: none;
}

html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    @apply w-[0.4rem] bg-transparent;
}

::-webkit-scrollbar-thumb {
    @apply w-0 bg-primary rounded-2xl;
}

::selection {
    @apply text-white bg-primary;
}

body {
    @apply cursor-default overflow-x-hidden bg-off-white text-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
bold,
a {
    @apply font-heading;
}

p {
    @apply font-para font-medium;
}

.row {
    @apply w-row-sm max-w-7xl m-auto;
}

.btn {
    @apply outline-none border-2rem border-solid rounded-md cursor-pointer transition-all duration-300 font-medium;
}

.btn-primary {
    @apply bg-primary border-primary text-white hover:bg-transparent hover:text-primary;
}

.btn-secondary {
    @apply bg-transparent border-primary text-primary hover:text-white hover:bg-primary;
}

.btn-sm {
    @apply py-1 px-3;
}

.btn-md {
    @apply py-2 px-6;
}

/* Navigation Section Start */

.nav-page-li {
    @apply relative pb-2 font-medium;
}

.nav-page-li:after {
    @apply absolute left-0 bottom-0  content-[""] block w-0 h-[0.2rem] bg-primary rounded-[9999px] origin-left transition-all duration-300;
}

.nav-page-li:hover::after {
    @apply w-full;
}

.nav-page-li-activate a {
    @apply text-primary;
}

.nav-page-li-activate::after {
    @apply w-full;
}

.nav-page-li a {
    @apply transition-all hover:text-primary;
}

/* Navigation Section End */

/* Home Page Start */

.variety-of-food-img-wrapper img:hover {
    transform: scale(1.2);
}

/* Home Page End */

/* Contact Page Start */

.section-heading {
    @apply text-2xl font-semibold py-2 inline relative;
}

.section-heading:after {
    @apply absolute content-[""] bottom-0 left-0 z-20 w-full h-[0.2rem] bg-primary rounded-md;
}

.form-group {
    @apply w-full;
}

.form-group input[type="text"],
.form-group textarea {
    @apply py-[0.3rem] pl-4 border-[0.15rem] border-solid border-primary text-black rounded-[0.4rem] transition-all duration-300 w-full outline-none;
}

/* Contact Page End */

@tailwind utilities;
